.btn {
    margin: 10px;
    height: 50px;
    width: 100px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.btn.red{
    background-color: red;
}

.btn.pink{
    background-color: pink;
    color: black;
}

.btn.yellow{
    background-color:yellow;
    color: black;
}

.btn.green{
    background-color: lime;
    color: black;
}

.btn.purple{
    background-color: darkorchid;
}
.btn.blue{
    background-color: deepskyblue;
    color: black;
}

