.container{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.color-div{
    width: 150px;
    font-size: 20px;
    height: 50px;
    padding-top: 20px;
}